* {
    cursor: url('Images/icons-cursor.png') 5 5, auto;
}

body {
    background-image: url('Images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 0 10% 0 10%;
}

ul{
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li {
    list-style-type: none;
    padding: 0;
    padding: 10px;
    float: left;
}

.navigation a {
    color: black;
    border: 2px solid grey;
    padding: 10px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(98, 179, 223);
    text-align: center;
    text-decoration: none;
}

.navigation span {
    display: inline-block;
    vertical-align: middle;
}

.navigation a:hover {
    box-shadow: 5px 5px 20px rgba(15, 46, 109, 0.5);
    border: 1px solid;
}

.blocks {
    padding: 10px;
    margin-top: 50px;
    background-color: rgb(29, 207, 207);
    border-radius: 25px;
    border: 2px solid grey transparent;
}

#Portfolio {
    display: block;
    text-align: center;
}

#Portfolio:hover {
    transform: scale(1, 1);
    border: 3px solid gray;
    background-color: rgb(22, 151, 151);
}

#Portfolio img:hover {
    box-shadow: #f2f2f2;
    box-shadow: 5px 5px 20px rgba(112, 111, 111, 0.5);
    border: 10 px solid;
    width: 350px;
    height: 350px;
}

#education {
    display: block;
}
#education ul {
    list-style-position: inside;
    padding-left: 0; 
}

#education:hover {
    transform: scale(1, 1);
    border: 3px solid gray;
    background-color: rgb(22, 151, 151);
}

.list {
    display: block;
    margin-top: 40px;
    background-color: rgb(10, 96, 143);
    border: 2pxs solid grey;
    border-radius: 25px;
    align-items: left;
    justify-items: left;
    text-align: left;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
}

#skills {
    margin-top: 50px;
    display: block;
    align-items: center;
    justify-items: center;
    text-align: center;
}

#skills table {
    border-collapse: collapse;
    margin: auto;
}

#skills:hover {
    transform: scale(1, 1);
    border: 3px solid gray;
    background-color: rgb(22, 151, 151);
}

#projects {
    text-align: left;
}

#projects:hover {
    transform: scale(1, 1);
    border: 3px solid gray;
    background-color: rgb(22, 151, 151);
}

button,
project1 {
    background-color: blue;
    color: black;
    border: none;
    border-radius: 10%;
    position: relative;
    top: -10px;
    left: 15px;
}

button project1:hover {
    background-color: red;
}

#footer {
    display: block;
    color: black;
}

#footer:hover {
    transform: scale(1, 1);
    border: 3px solid gray;
    background-color: rgb(22, 151, 151);
}

/*My Projects */

#Project1 {
    display: block;
}

#Project1 a {
    padding: 0px;
}

#Project1:hover {
    transform: scale(1, 1);
    border: 3px solid gray;
    background-color: rgb(22, 151, 151);
}

#Project2 {
    display: block;
}

#Project2 a {
    padding: 0px;
}

#Project2:hover {
    transform: scale(1, 1);
    border: 3px solid gray;
    background-color: rgb(22, 151, 151);
}

#Project3 {
    display: block;
}

#Project3 a {
    padding: 0px;
}

#Project3:hover {
    transform: scale(1, 1);
    border: 3px solid gray;
    background-color: rgb(22, 151, 151);
}

/*Contact ME! */

#Message {
    display: block;
    border-radius: 10%;
    font-family: inherit;
}

#Message:hover {
    transform: scale(1, 1);
    border: 3px solid gray;
    background-color: rgb(22, 151, 151);
}

input,
textarea {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: inherit;
}

#SocialMedia {
    display: block;
    border-radius: 10%;
}

#SocialMedia:hover {
    transform: scale(1, 1);
    border: 3px solid gray;
    background-color: rgb(22, 151, 151);
}