body {
    background-image: url('Image/Tree.jpg');
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 255, 0, 0.5));
    padding: 20px;
}